* {
  outline: none;
}

body {
  font-size: 16px;
  color: #000;
  font-weight: normal;
}

p {
  font-weight: 300;
}

/* Start.Header.Styles */
header {
  min-height: 70px;
  background: #191c21;
  padding: 8px 0;
}

header a {
  color: #fff;
  display: inline-block;
}

header a:hover {
  text-decoration: none;
}

.logo img {
  margin-right: 20px;
}

.logo a {
  font-size: 23px;
  font-weight: 300;
}

.logo a:hover {
  color: #fff;
}

.top-nav {
  padding-top: 5px;
}

.top-nav a:hover {
  color: #2f8ccd;
  border-bottom: 2px solid #2f8ccd;
}

.top-nav .navbar {
  margin-bottom: 0;
}

.top-nav .nav>li>a:hover, 
.top-nav .nav>li>a:focus {
  background: transparent;
}

.top-nav .nav>li {
  padding: 0 20px;
}

.top-nav .nav>li:last-child {
  padding-right: 0;
}

.top-nav .nav>li>a {
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 400;
}

.navbar-toggle .icon-bar {
  background: #fff;
}

.navbar-collapse {
  box-shadow: none;
}

/* End.Header.Styles */

/* Start.Contacts.Styles */
#contacts {
  background: #232832;
  min-height: 50px;
}

#contacts ul {
  margin: 0;
}

#contacts ul li {
  line-height: 50px;
  font-size: 17px;
  text-transform: uppercase;
  color: #d0d0d0;
  font-weight: 400;
}

#contacts .list-inline li i {
  margin-right: 15px;
}

#contacts .phones li {
  margin-right: 55px;
}

#contacts .phones li:last-child {
  margin-right: 0;
}

a.feedback {
  line-height: 50px;
  padding:5px 0;
  color: #fff;
  text-transform: uppercase;
}

a.feedback:hover {
  color: #2f8ccd;
  border-bottom: 2px solid #2f8ccd;
  text-decoration: none;
}

.lang {
  float: right;
}

.lang li a {
  color: #fff;
  text-transform: uppercase;
}

.lang li.active a,
.lang li a:hover {
  color: #2f8ccd;
}

/* End.Contacts.Styles */

/* Start.Slider.Styles */
#slider {
  padding: 35px 0;
  background: url(../images/fon_slider.jpg);
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
}

.carousel-inner img {
  width: 100%;
}

.prev {
  display: block;
  background: url(../images/prev.png);
  width: 18px;
  height: 30px;
  position: absolute;
  top: 45%;
  left: 5%;
}

.next {
  display: block;
  background: url(../images/next.png);
  width: 18px;
  height: 30px;
  position: absolute;
  top: 45%;
  right: 5%;
}

.carousel-caption {
  top: 5%;
  left: 5%;
  text-align: left;
}

.carousel-caption h3 {
  font-size: 32px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.carousel-caption p {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  width: 50%;
}

/* End.Slider.Styles */

/* Start.Services.Styles */
#services {
  background: #fff;
  padding: 60px 0;
  min-height: 400px;
}

#services h2 {
  font-size: 28px;
  margin-bottom: 40px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
}

.services-block {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  margin-bottom: 10px;
}

.metall {
  background-image: url(../images/metall.jpg);
}

.build {
  background-image: url(../images/build.jpg);
}

.arenda {
  background-image: url(../images/arenda.jpg);
}

.services-desc {
  width: 100%;
  height: 100%;
  color: #fff;
  padding-left: 20px;
  padding-top: 45px;
  z-index: 9;
  position: relative;
}

.services-desc:before {
  content: "";
  display: block;
  width: 96%;
  height: 96%;
  position: absolute;
  border: 1px solid #fff;
  top: 2%;
  left: 2%;
  opacity: 0.08;
}

.services-desc h4 {
  z-index: 9;
  position: relative;
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.services-desc h4:after {
  content: "";
  display: block;
  width: 94%;
  height: 2px;
  position: absolute;
  background: #fff;
  bottom: -5px;
  left: 0;
  opacity: 0.08;
}

.services-desc p {
  margin: 0;
}

.services-desc a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 9;
  position: relative;
  display: inline-block;
}

.services-desc a:hover {
  color: #2f8ccd;
}


/* End.Services.Styles */

/* Start.Aabout.Styles */
#about-company {
  min-height: 500px;
  background: url(../images/fon_about.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.company-contacts {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/fon-company-contacts.jpg);
  height: 500px;
  position: relative;
  padding-left: 35px;
  padding-top: 70px;
}

.company-contacts:before {
  content: "";
  display: block;
  width: 96%;
  height: 96%;
  position: absolute;
  border: 1px solid #fff;
  top: 2%;
  left: 2%;
  opacity: 0.08;
}

.company-info {
  margin-left: 50px;
}

.company-contacts h4 {
  z-index: 9;
  position: relative;
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.company-contacts h4:after {
  content: "";
  display: block;
  width: 94%;
  height: 2px;
  position: absolute;
  background: #fff;
  bottom: -5px;
  left: 0;
  opacity: 0.08;
}

.company-contacts p a {
  color: #fff;
  text-decoration: underline;
}

.company-contacts p a:hover {
  text-decoration: none;
}

.company-contacts p {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  z-index: 9;
  position: relative;
  margin-bottom: 40px;
}

.company-contacts p span {
  display: block;
  padding-left: 35px;
}

.company-contacts p i {
  margin-right: 20px;
}

.company-info h3 {
  margin-bottom: 35px;
  font-size: 30px;
}

.company-info p {
  margin-bottom: 40px;
  font-size: 18px;
}

/* End.About.Styles */

/* Start.Edges.Styles */
#edges {
  min-height: 650px;
  background: #fff;
  padding: 55px 0;
}

.edges-info h3 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 35px;
}

.edges-info ul {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
}

.edges-info ul li {
  font-size: 18px;
  padding-left: 20px;
  position: relative;
}

.edges-info ul li:before {
  content: "";
  display: block;
  width: 13px;
  height: 15px;
  background-image: url(../images/li_bg.png);
  left: 0;
  top: 4px;
  background-repeat: no-repeat;
  position: absolute;
}

.edges-img img  {
  width: 100%;
}

/* End.Edges.Styles */

/* Start.Sert.Styles */
#sert {
  min-height: 1240px;
  background-image: url(../images/fon_sert.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 80px;
}

#sert h3 {
  margin-bottom: 35px;
  font-size: 30px;
  margin-top: 0;
}

.sertifikat-block {
  padding-bottom: 50px;
  margin-bottom: 35px;
  border-bottom: 2px solid #cfd0d2;
}

.prev-sert {
  display: block;
  background: url(../images/prev-sert.png);
  background-position: 0 0;
  width: 13px;
  height: 24px;
  position: absolute;
  top: 45%;
  left: 0;
}

.prev-sert:hover {
  background-position: 0 -24px;
}

.next-sert {
  display: block;
  background: url(../images/next-sert.png);
  background-position: 0 0;
  width: 13px;
  height: 24px;
  position: absolute;
  top: 45%;
  right: 0;
}

.next-sert:hover {
  background-position: 0 -24px;
}

#sert .carousel-inner {
  width: 90%;
  margin: auto;
}

.slide-sert {
  padding-top: 25px;
  margin-bottom: 10px;
}

.slide-progress {
  margin-bottom: 10px;
}

.desc-sert,
.desc-progress {
  position: relative;
  min-height: 400px;
  width: 100%;
  padding: 20px;
}

.desc-sert:before,
.desc-progress:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 9;
  left: 0;
  top: 0;
  width: 45px;
  height: 45px;
  background: url(../images/left_border.png);
}

.desc-sert:after,
.desc-progress:after {
  content: " ";
  display: block;
  position: absolute;
  z-index: 9;
  right: 0;
  bottom: 0;
  width: 45px;
  height: 45px;
  background: url(../images/right-border.png);
}

.desc-sert ul,
.desc-progress ul {
  margin: 0;
  padding: 0;
}

.desc-sert ul li,
.desc-progress ul li {
  position: relative;
  color: #121212;
  padding-left: 20px;
  list-style: none;
  margin-bottom: 35px;
}

.desc-sert ul li:before,
.desc-progress ul li:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(../images/li_circle_bg.png);
  left: 0;
  top: 4px;
  background-repeat: no-repeat;
  position: absolute;
}


/* End.Sert.Styles */

/* Start.Customers.Styles */
#customers {
  min-height: 400px;
  background: #232832;
  padding: 40px 0;
}

#customers h3 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
}

#customers h3:before {
  content: "";
  display: block;
  background: #fff;
  height: 2px;
  width: 370px;
  position: absolute;
  left: 0;
  bottom: 0;
}

#customers p {
  color: #fff;
}

.our-customers {
  position: relative;
  min-height: 135px;
  padding: 10px 0;
  width: 100%;
  margin-bottom: 25px;
}

.our-customers:after {
  content: " ";
  display: block;
  position: absolute;
  z-index: 9;
  right: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  background: url(../images/cust-border-right.png);
}

.owl-carousel {
  background: #fff;
  padding-top: 20px;
  height: 100px;
  width: 95% !important;
  margin: auto;
}

.owl-carousel .owl-item img {
  width: auto !important;
}

.owl-prev {
  position: absolute;
  left: -20px;
  top: 40px;
  width: 15px;
  height: 22px;
}

.owl-next {
  position: absolute;
  right: -20px;
  top: 40px;
  width: 15px;
  height: 22px;
}

/* End.Customers.Styles */

/* Start.Footer.Styles */

footer {
  min-height: 340px;
  background: #191c21;
  padding: 80px 0;
}

footer h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 400;
}

footer ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

footer ul li a:hover,
footer ul li.active a {
  text-decoration: none;
  color: #3eb5f1;
  text-transform: uppercase;
}

/* End.Footer.Styles */

/* Start.Inner.Styles */
#inner-about-company {
  padding: 30px 0;
  min-height: 285px;
  background: url(../images/fon_inner_about.jpg);
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
}

.inner-contacts-block {
  width: 100%;
  min-height: 220px;
  color: #fff;
  padding-left: 20px;
  padding-top: 25px;
  z-index: 9;
  position: relative;
  background-image: url(../images/inner-contacts-bg.jpg);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

.inner-contacts-block:before {
  content: "";
  display: block;
  width: 98%;
  height: 90%;
  position: absolute;
  border: 1px solid #fff;
  top: 5%;
  left: 1%;
  opacity: 0.08;
}

.inner-contacts-block h4 {
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 35px;
  margin-top: 0;
}

.inner-contacts-block p {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  z-index: 9;
  position: relative;
  margin-bottom: 10px;
}

.inner-contacts-block p a {
  color: #fff;
  text-decoration: underline;
}

.inner-contacts-block p span {
  display: block;
  padding-left: 35px;
}

.inner-contacts-block p i {
  margin-right: 20px;
}

main {
  padding: 70px 0;
  min-height: 1000px;
  background: #fff;
}

main h3 {
  font-size: 30px;
  color: #010101;
  margin-bottom: 30px;
  font-weight: 400;
}

main p {
  font-size: 18px;
  color: #121212;
  font-weight: 300;
}

.item-block {
  margin-bottom: 70px;
  height: 300px;
}

.item-block img {
  margin-bottom: 20px;
}

.item-block a {
  color: #121212;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.map {
  margin-top: 20px;
}

.news h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 22px;
}

.news-item {
  margin-bottom: 20px;
}

